body {
  background-image: url("assets/background.png");
}
.container {
  margin: 0px auto;
  width: 960px;
}
.navigationbar {
 
  background-color: #d8d6d7;
}
.top_navbar {
  font-size: 10px;
  margin: 0px auto;
  background-color: white;
  width: 960px;
  /* padding-bottom: 8px; */
  display: flex;
}
.nav-bar {
  /* padding-top: 10px;
    padding-bottom: 10px; */
  margin-left: 160px;
}
.navbar {
  font-size: 12px;
  padding-top: 29px;
  padding-left: 223px;
}
.logo {
  margin-left: 16px;
}
.navbar ul {

  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  list-style: none;
}

.navbar ul li:not(:last-child):after {
  content: "|";
  color: #e3e3e3;
}

.navbar li a {
  padding-left: 5px;
  padding-right: 5px;
  color: #636363;
}

.dining-li {
  /* padding-left: 168px; */
}
.searchbox {
  margin-top: 6px;
  margin-left: 10px;
}
.gobtn {
  margin-top: 6px;
  margin-left: 9px;
}
.nav-bar ul {
  
  list-style-type: none;
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow: hidden;

  /* list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; */
}
.nav-bar li {
  float: left;
  border-right: 1px solid #e6e4e5;
  /* float: left;
    border-right:1px solid #bbb;
    padding-left: 5px;
    padding-right: 5px; */
}
.nav-bar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}
.offers-navbar {
  color: #78879A;;
  border-bottom: 1px solid #dfdfdf;
  background-color: white;
  padding-top: 15px;
}
.offers {
  margin: 0px auto;
  width: 960px;
  display: flex;
  /* padding-top: 10px; */
  background-color: white;
}
.offers ul {
  font-size: 14px;
  display: contents;
  list-style: none;
}
.offers li {
  padding-top: 5px;
  padding-left: 20px;
}
.couple-image {
  padding-left: 243px;
}
.containersection {
  display: flex;
  border: 8px solid white;
}
.container-section {
  background-image: linear-gradient(#31302e, #403f3d);
  /* background-color: white; */
  color: black;
}
h2 {
  margin-bottom: 0px;
  padding-right: 41px;
  padding-left: 50px;
  color: white;
}
.description {
  color: #9e9c9d;
  padding-left: 30px;
  margin-top: 3px;
}
.container-section ul {
  list-style: none;
  color: #d6d4d5;
}
.container-section li {
  padding-top: 3px;
  padding-bottom: 10px;
}
.table-link {
  color: #908e8f;
  font-size: 14px;
  padding-right: 7px;
}
.container-secondpart {
  display: inline-flex;
  border: 7px solid black;
}
.image-album {
  background-color: white;
  padding-top: 20px;
  padding-left: 136px;
}
.top-left {
  position: absolute;
  color: black;
  /* top: -51px; */
  left: 16px;
  top: 10px;
  color: #424242;
}
.glass-text{
  position: absolute;
  font-size: 11px;
  left: 16px;
  top: 32px;
  color: #8D8D8D;
}
.containerglass {
  position: relative;
  padding-right: 34px;
  background-color: white;
}
.glass-description{
  position: absolute;
  color: black;
  font-size: 14px;
  left: 159px;
  top: 64px;
  color: #686C85;
}
.containerplates{
  position: relative;
  background-color: white;
}
.platesimage{
  padding-top: 48px;
}
.containerframes{
  position: relative;
  background-color: white;
}
.frames-text{
  position: absolute;
  font-size: 11px;
  left: 16px;
  top: 55px;
  color: #8D8D8D;
}
.frames-title{
  position: absolute;
  color: black;
  font-size: 14px;
  left: 16px;
  top: 111px;
  color: #686C85;
}
.vL{
  border-right: 1px solid #E1E1E1;
  height: 186px;
}
hr{
  color:#555452
}
.footer ul{
  font-size: 12px;
  padding-left: 0px;
  display: inline-flex;
  list-style: none;
  color: #908E8F;
}
.footer li{
color: #929290;
}
.footer li a{
  color:#929290;
  padding-left: 5px;
  padding-right: 5px;
}
.footer ul li:not(:last-child):after {
  content: "|";
  color: #929290;
}
.footer-content{
  display: flex;
  color: #929290;
}
.footer-text{
  margin-left: 404px;
  font-size: 12px;
}
.footer-1{
  font-size: 12px;
  color: #929290;
  display: inline-flex;
}
.footer-1 p{
  margin: 0px;
  padding-right: 249px;
}
.footer-1 input{
  font-size: 12px;
  margin-right: 10px;
}
.footer-1 button{
  font-size: 12px;
  border-radius: 6px;
}
.footer-2 p{
  font-size: 12px;
  margin: 0px;
  color: #929290;
}