body{
    background-image: url('assets/background.png');
}
.container {
    margin: 0px auto;
   
  }
.navigationbar{
   
    background-color: #D8D6D7;
    
}
.top_navbar{
    margin: 0px auto;
    background-color: white;
    width: 960px;
    padding-bottom: 15px;
    display: flex;
}
.nav-bar{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 173px;
}
.navbar{
    
  padding-top: 14px;
  padding-left: 123px;
}
.logo{
    margin-left: 24px;
}
ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
  }
  
li {
    list-style: none;
  }

 li:not(:last-child):after{
    content:"|";
    color:#E3E3E3;
  }
  
li a {
  padding-left: 5px;
  padding-right: 5px;
  color: #636363;
}

.dining-li{
    padding-left: 168px;
}
.searchbtn{
    margin-top: 3px;
    margin-left: 10px;
}
.gobtn{
    margin-top: 6px;
    margin-left: 9px;
}
.nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav-bar li{
    float: left;
    border-right:1px solid #bbb;
    padding-left: 5px;
    padding-right: 5px;
}