body {
  background-image: url("assets/background.png");
  margin: 0px;
}
.container {
  margin: 0px auto;
  width: 960px;
}
.navigationBar {
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #d8d6d7;
  background-color: #d8d6d7;
}
.topDescription{
  background-color: white;
}
.topNavbar {
  font-size: 10px;
  margin: 0px auto;
  width: 960px;
  display: flex;
}
.nav-bar {
  font-family: Calibri Light;
  font-weight: bold;
  width:960px;
  margin: 0px auto;
}
.nav-bar button{
  margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 0px;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 0px;
    border-color: #B0B0B0;
    border-radius: 3px;
}
.navbar {
  font-family: Calibri Light;
  font-size: 12px;
  padding-top: 22px;
  padding-left: 308px;
}
.navbar_items{
  background-color: white;
  border-bottom: 1px solid #DFDFDF;
  border-top: 1px solid #DFDFDF;
}
.navbar ul {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navbar li {
  color: #727071;
  list-style: none;
}
.navbar ul li:not(:last-child):after {
  content: "|";
  color: #e3e3e3;
}
.navbar li a {
  padding-left: 5px;
  padding-right: 5px;
  color: #727071;
}
.dining-li{
  padding-left: 0px;
}
.searchbox {
  margin-top: 6px;
  margin-left: 10px;
}
.gobtn {
  font-family: Calibri Light;
  margin-top: 6px;
  margin-left: 9px;
}
.nav-bar input{
  font-family: Calibri Light;
  font-size: 11px;
  margin-left: 75px;
  padding-left: 5px;
    padding-right: 65px;
  color: #959595;
}
.nav-bar ul {
  display: inline-flex;
  list-style-type: none;
  font-size: 12px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav-bar li {
  border-right: 1px solid #e6e4e5;
}
.nav-bar li a {
  display: block;
  color: #454344;
  text-align: center;
  padding-left: 9px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 9px;
  padding-right: 24px;
  /* padding: 8px 16px; */
  text-decoration: none;
}
.offers-navbar {
  /* color: #78879A;
  display: inline-flex;
  border-bottom: 1px solid #dfdfdf; */
  background-color: white;
  border-bottom: 1px solid #DFDFDF;
}
.offers-menu{
  display: flex;
  margin: 0px auto;
  width: 960px; 
}
.offers {
  /* margin: 0px auto;
  width: 960px; */
   display: flex; 
   margin-left: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Calibri Light;
  background-color: white;
}
.offers ul {
  /* display: flex; */
  font-size: 14px;
  display: contents;
  list-style: circle;
}
.offers li {
  padding-right: 10px;
  padding-left: 0px;
}
.offers li a{
  padding-right: 23px;
}
.bridal-registry{
  display: flex;
  font-family: Calibri Light;
  list-style: none;
}
.bridal-registry li a{
  font-size: 14px;
}
.bridalregistry-text{
  padding-top: 10px;
}
.couple-image {
  padding-left: 183px;
}
.containersection {
  background-color: #403f3d;
  display: flex;
  border: 8px solid white;
}
.container-section {
  margin: 7px;
    border: 1px solid #585755;
  background-image: linear-gradient(#31302e, #403f3d);
  color: white;
}
.containersection img{
  border-right: 5px solid white;
}
h2 {
  font-family: Calibri Light;
  letter-spacing: 2px;
  margin-bottom: 12px;
  padding-right: 30px;
  padding-left: 20px;
  color: white;
}
.description {
  color: #9e9c9d;
  padding-left: 18px;
  margin-top: 3px;
  padding-bottom: 15px;
}
.container-section p{
  margin-bottom: 0px;
  margin-top: 12px;
  /* padding-left: 18px; */
  /* padding-left: 20px; */
  font-family: Calibri Light;
}
.contents{    
  margin-right: 15px;
  padding-bottom: 3px;
  margin-left: 20px;
  border-bottom: 1px solid #545351;
}
.content-item{
  margin-left: 20px;
}
.table-link {
  color: #908e8f;
  font-size: 13px;
  padding-right: 7px;
}
.container-items {
  display: inline-flex;
  border: 7px solid black;
}
.image-album {
  background-color: white;
  padding-top: 20px;
  padding-left: 136px;
}
.album-text{
  letter-spacing: 0.5px;
    font-weight: bold;
  font-family: Calibri Light;
  position: absolute;
  color: black;
  left: 16px;
  top: 10px;
  color: #424242;
}
.glass-text{
  font-family: Calibri Light;
  position: absolute;
  font-size: 11px;
  left: 16px;
  top: 32px;
  color: #8D8D8D;
}
.containerglass {
  position: relative;
  padding-right: 34px;
  background-color: white;
}
.glass-description{
  font-weight: bold;
  font-family: Calibri Light;
  position: absolute;
  color: #666C7A;
  font-size: 14px;
  left: 159px;
  top: 64px;
  color: #686C85;
}
.containerplates{
  position: relative;
  background-color: white;
}
.platesimage{
  padding-top: 48px;
}
.containerframes{
  position: relative;
  background-color: white;
}
.frames-text{
  font-family: Calibri Light;
  position: absolute;
  font-size: 11px;
  left: 16px;
  top: 55px;
  color: #8D8D8D;
}
.frames-title{
  font-family: Calibri Light;
  font-weight: bold;
  position: absolute;
  color: black;
  font-size: 14px;
  left: 16px;
  top: 111px;
  color: #686C85;
}
.verticalLine{
  border-right: 1px solid #E1E1E1;
  height: 186px;
}
.footer ul{
  margin-bottom: 0px;
  font-size: 12px;
  padding-left: 0px;
  display: inline-flex;
  list-style: none;
  color: #908E8F;
}
.footer li{
color: #929290;
}
.footer li a{
  color:#929290;
  padding-left: 2px;
  padding-right: 5px;
}
.footer ul li:not(:last-child):after {
  content: "|";
  color: #929290;
}
.about-mikasa{
  padding-left: 0px;
}
.footer-section{
  display: inline-flex;
  font-family: Calibri Light;
}
.footer_support p{
  padding-top: 3px;
  margin: 0px;
  font-size: 12px;
  color:#929290;
}
.signup_field{
  display: flex;
}
.promotions_field{
  color:#929290;
  margin-left: 253px;
  font-size: 12px;
}
.signup_field input{
  font-size: 12px;
  padding-right: 44px;
  color: #666666;
  font-family: Calibri Light;
  font-weight: bold;
}
.signup_field button{
  margin-left: 5px;
  font-size: 11px;
  font-family: Calibri Light;
  font-weight: bold;
  border-radius: 5px;
}