body {
  background-image: url("assets/background.png");
  margin: 0px;
}
.container {
  margin: 0px auto;
  width: 960px;
}
.navigationBar {
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #d8d6d7;
  background-color: #d8d6d7;
}
.topDescription {
  background-color: white;
}
.topNavbar {
  font-size: 10px;
  margin: 0px auto;
  width: 960px;
  display: flex;
}
.nav-bar {
  font-family: Calibri Light;
  font-weight: bold;
  width: 960px;
  margin: 0px auto;
}
.nav-bar button {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 0px;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 0px;
  border-color: #b0b0b0;
  border-radius: 8px;
}
.navbar {
  font-family: Calibri Light;
  font-size: 12px;
  padding-top: 22px;
  padding-left: 308px;
}
.navbar_items {
  background-color: white;
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navbar li {
  color: #727071;
  list-style: none;
}
.navbar ul li:not(:last-child):after {
  content: "|";
  color: #e3e3e3;
}
.navbar li a {
  padding-left: 5px;
  padding-right: 5px;
  color: #727071;
}
.searchbox {
  margin-top: 6px;
  margin-left: 10px;
}
.gobtn {
  font-family: Calibri Light;
  margin-top: 6px;
  margin-left: 9px;
}
.nav-bar input {
  border-image: linear-gradient(#878586,#F4F4F4)80;
  font-family: Calibri Light;
  font-size: 11px;
  margin-left: 75px;
  padding-left: 5px;
  padding-right: 65px;
  color: #959595;
}
.nav-bar ul {
  display: inline-flex;
  list-style-type: none;
  font-size: 12px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav-bar li {
  border-right: 1px solid #e6e4e5;
}
.nav-bar li a {
  display: block;
  color: #454344;
  text-align: center;
  padding-left: 9px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 9px;
  padding-right: 24px;
  text-decoration: none;
}
.offers-navbar {
  background-color: white;
  border-bottom: 1px solid #dfdfdf;
}
.offers-menu {
  display: flex;
  margin: 0px auto;
  width: 960px;
}
.offers {
  display: flex;
  margin-left: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Calibri Light;
  background-color: white;
}
.offers ul {
  font-size: 14px;
  display: contents;
  list-style-type: circle;
}
.offers li {
  padding-right: 10px;
  padding-left: 0px;
}
.offers li a {
  padding-right: 23px;
}
.offers ul li:first-child {
  list-style-type: none;  
}
.bridal-registry {
  display: flex;
  font-family: Calibri Light;
  list-style: none;
}
.bridal-registry li a {
  font-size: 14px;
}
.bridalregistry-text {
  padding-top: 10px;
}
.couple-image {
  padding-left: 183px;
}
.containersection {
  background-color: #403f3d;
  display: flex;
  border: 8px solid white;
}
.container-section {
  margin: 7px;
  border: 1px solid #585755;
  background-image: linear-gradient(#31302e, #403f3d);
  color: white;
}
.containersection img {
  border-right: 5px solid white;
}
h2 {
  font-family: Calibri Light;
  letter-spacing: 2px;
  margin-bottom: 12px;
  padding-right: 30px;
  padding-left: 20px;
  color: white;
}
.description {
  color: #9e9c9d;
  padding-left: 18px;
  margin-top: 3px;
  padding-bottom: 15px;
}
.container-section p {
  margin-bottom: 0px;
  margin-top: 12px;
  font-family: Calibri Light;
}
.contents {
  margin-right: 15px;
  padding-bottom: 3px;
  margin-left: 20px;
  border-bottom: 1px solid #545351;
}
.content-item {
  margin-left: 20px;
}
.table-link {
  color: #908e8f;
  font-size: 13px;
  padding-right: 7px;
}
.container-items {
  background-color: white;
  display: inline-flex;
  border: 7px solid black;
}
.footer ul {
  margin-bottom: 0px;
  font-size: 12px;
  padding-left: 0px;
  display: inline-flex;
  list-style: none;
  color: #908e8f;
}
.footer li {
  color: #929290;
}
.footer li a {
  color: #929290;
  padding-left: 2px;
  padding-right: 5px;
}
.footer ul li:not(:last-child):after {
  content: "|";
  color: #929290;
}
.about-mikasa {
  padding-left: 0px;
}
.footer-section {
  display: inline-flex;
  font-family: Calibri Light;
}
.footer_support p {
  padding-top: 3px;
  margin: 0px;
  font-size: 12px;
  color: #929290;
}
.signup_field {
  display: flex;
}
.promotions_field {
  color: #929290;
  margin-left: 272px;
  font-size: 12px;
}
.signup_field input {
  font-size: 12px;
  padding-right: 44px;
  border-image: linear-gradient(#878586,#FFFFFF)83;
  color: #666666;
  font-family: Calibri Light;
  font-weight: bold;
}
.signup_field button {
  margin-left: 5px;
  font-size: 11px;
  font-family: Calibri Light;
  font-weight: bold;
  border-radius: 5px;
}
.container-images {
  background-color: white;
  display: flex;
  border: 7px solid black;
}
.glass-section{
  padding-bottom: 56px;
  padding-top: 0px;
  border-right: 1px solid #E1E1E1;
}
.image-glass {
  background-image: url("assets/promo_glass.png");
  height: 172px;
  background-repeat: no-repeat;
  width: 320px;
  margin-top: 12px;
  background-position: left bottom;
}
.image-plates {
  background-image: url("assets/promo_plates.png");
  height: 172px;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 320px;
  margin-top: 12px;
}
.image-frames {
  background-image: url("assets/promo_album.png");
  height: 185px;
  width: 296px;
  background-position: right bottom;
  background-repeat: no-repeat;
}
h4 {
  letter-spacing: 0.5px;
  font-weight: bold;
  font-family: Calibri Light;
  margin-top: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
}
.mikasa-title {
  margin-top: 20px;
  padding-left: 10px;
}
.glass-text {
  margin-top: 5px;
  padding-left: 10px;
  font-family: Calibri Light;
  font-size: 11px;
  color: #8d8d8d;
}
.glass-description {
  font-weight: bold;
  font-family: Calibri Light;
  color: #666c7a;
  font-size: 14px;
  padding-top: 5px;
  margin-left: 168px;
}
.frames-text {
  font-family: Calibri Light;
  padding-left: 10px;
  font-size: 11px;
  color: #8d8d8d;
}
.frames-title {
  font-family: Calibri Light;
  font-weight: bold;
  padding-left: 10px;
  color: black;
  font-size: 14px;
  color: #686c85;
}
